*{
	text-align: center;}

.p-3 {
	padding: 15px;
}

.bg-success {
	background: forestgreen;
}

.bg-warning {
	background-color: orange;
}

.bg-danger {
	background-color: darkred;
}

.bg-secondary {
	background-color: lightgray;
}

.d-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}